@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
/* optional import a lightweight Boottstrap 4 themes from Tophat --;*/
@import url('https://themesguide.github.io/top-hat/dist/wandoo/theme.min.css');
/* @import url('https://themesguide.github.io/top-hat/dist/graymor/theme.min.css'); */
/* @import url('https://themesguide.github.io/top-hat/dist/sunset/theme.min.css'); */
/* @import url('https://themesguide.github.io/top-hat/dist/electro/theme.min.css'); */

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    cursor: url("https://i.imgur.com/6tVlWyx.png")
, auto; 
font-weight: 300;

}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  
}

#homenav{
  text-align: center;
  margin-top: 1rem;
}


/* Alert  */
#avatar{
  width: 7rem;
  border-radius: 50%;
  size: 100%;
}

.avatar  {
  text-align: center;
}

.alert {
  text-align: center;
  background-color: none !important;
}
/* Alert  */
.custom-cursor{
    z-index: 3;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.6);
    pointer-events: none;
    transform: translate(-50%, -50%);
    color: rgba(255,255,255,.6);
    font-weight: 100;
}

.custom-cursor > .fa-angle-left{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
}

.custom-cursor > .fa-angle-right{
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
}



p {
  font-size: 1rem;
}
.is-main{
  font-size: 1rem;
  font-weight: 600;
}

#sidemenu {
    z-index: 1010;
}

/* only show subitems when parent is active*/
#sidemenu .nav-item .nav-link.active + .nav .nav-item {
    display: list-item;
}
#sidemenu .nav-item .nav-item {
    display: none;
}

#header{
  background-color: #fff;
}

.anchor{
  display: block;
  height: 70px;
  margin-top: -40px;
  visibility: hidden;
}


/* skills  */


.carousel-item{
height: 600px;
}

.col-sm{
  text-align: center ;
}

#skills-logo{
  width: 3rem;
  margin-top: 10px;
}
.col-sm > p {
  margin-top: 3rem;

}



/* Projects  */


#link-pj{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 30px;
}

/* 
Reference */
.reference{
  text-align: center;
}
.avatar-ref{
  text-align: center;
  border-radius: 50%;
}

/* Blog  */

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.card-deck{
  margin-bottom: 2rem;
}




/* Footer */

.col-12 text-center{
  margin-bottom: 2rem;
}


/* Blogs */


#tab1-article{

    font-family: PT Serif,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",serif !important;
    color: 
    rgba(0,0,0,.86);
    line-height: 1.7em;
    word-break: break-word;
    word-wrap: break-word;
    

}


#tab1-article > h1{
  font-size: 2rem;
  font-family: PT Serif,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",serif !important;
  color: 
  rgba(0,0,0,.86);
  line-height: 1.7em;
  word-break: break-word;
  word-wrap: break-word;
}

#tab1-article > p, h4{
  font-size: 1.2rem;
  font-family: PT Serif,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",serif !important;
  color: 
  rgba(0,0,0,.86);
  line-height: 1.7em;
  word-break: break-word;
  word-wrap: break-word;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



/* blog1 */

.blog-1-hero{

  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center; /* Center the image */
}

.my-container-blog-1 {
  position: relative;
  background: #fff;
  overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.my-container-blog-1:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image:url("../img/blog-head-img/generalassembly-open-graph.png");
  background-repeat: no-repeat;
  background-position: left;
  -ms-background-size: contain,cover;
  -o-background-size: contain,cover;
  -moz-background-size: contain,cover;
  -webkit-background-size: contain,cover;
  background-size: contain,cover;
}



/* blog2 */

.blog-2-hero{

  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center; /* Center the image */
}

.my-container-blog-2 {
  position: relative;
  background: #fff;
  overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.my-container-blog-2:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image:url("../img/blog-head-img/bulma.png");
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
}




/* blog3 */

.blog-3-hero{

  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center; /* Center the image */
}

.my-container-blog-3 {
  position: relative;
  background: #fff;
  overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.my-container-blog-3:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image:url("../img/blog-head-img/behave.png");
  background-repeat: no-repeat;
  background-position: left;
  -ms-background-size:contain;
  -o-background-size:contain;
  -moz-background-size:contain;
  -webkit-background-size:contain;
  background-size:contain;
}




/* Blog 4  */

#img-in-article{
width: 20rem;
size: 50%;
}



.blog-4-hero{

  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center; /* Center the image */
}

.my-container-blog-4 {
  position: relative;
  background: #fff;
  overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.my-container-blog-4:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image:url("../img/blog-head-img/sink.png");
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size:contain;
  -o-background-size:contain;
  -moz-background-size:contain;
  -webkit-background-size:contain;
  background-size:contain;
}

















.homework {
  margin-top: 5rem;
}