@font-face {
	font-family: Trade Gothic;
	src: url("./assets/TradeGothic-oblique.woff");
	font-weight: normal;
	font-style: oblique;
}
@font-face {
	font-family: Trade Gothic;
	src: url("./assets/TradeGothic-light.woff");
	font-weight: 200;
}
@font-face {
	font-family: Trade Gothic;
	src: url("./assets/TradeGothicCondensed-Bold20.woff");
	font-stretch: condensed;
	font-weight: bold;
}

html {
	display: block;
	width: 100%;
}

@media screen {
	html {
		font-size: 14px;
	}

	body {
		margin: 1in 1in 0.25in 0.25in;
	}
}

@media print {
	html {
		font-size: 9pt;
	}
}

@page {
	margin: 1in 1in 0.25in 0.25in;
	size: letter portrait;
}

body {
	color: #6D6E71;
	column-gap: 0.25in;
	display: grid;
	font-family: Trade Gothic, Arial, sans-serif;
	font-weight: 200;
	grid-template-columns: 0.5in 17em auto;
	hyphens: auto;
	letter-spacing: 0.02em;
	line-height: 1.8;
	word-break: break-word;

	orphans: 2;
	widows: 2;
}

h2,
h3,
strong,
.strong {
	color: black;
	font-stretch: condensed;
}

h2 {
	font-size: 2.44rem;
	font-weight: bold;
	letter-spacing: 0.04em;
	line-height: 1.4;
}

aside > section {
	break-inside: avoid;
}

article > section {
	orphans: 2;
	widows: 2;
}

section:nth-child(n+2) > h2 {
	margin-top: 1.1em;
}
article > h3,
section > h4 {
	margin-top: 0.4em;
}

h3 {
	font-size: 1.22rem;
}

p + p {
	margin-top: 0.4em;
}

a,
em {
	color: #75338C;
	text-decoration: none;
}

dfn,
time {
	color: #414042;
	font-style: oblique;
	font-weight: bold;
}

strong,
.strong {
	font-weight: bold;
	letter-spacing: 0.04em;
}



img {
  margin-top: 0px;
	max-width: 100%;
}

.account-link {
	display: inline-block;
	width: 100%;
}

.account-logo {
	pointer-events: none;
	width: 1.7rem;
}

.back h1{

font-size: 50px;
margin-top: -150px;

}

